@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #161614;
  --foreground: #ffffff;
  --primary: #0070f3;
  --secondary: #00a6f4;
  --accent: #b3b3b3;
}

@theme {
  --animate-fade-in-scale: fade-in-scale 0.3s ease-out;
  @keyframes fade-in-scale {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}

html body {
  background: #161614;
  scroll-behavior: smooth;
}

body {
  /* @apply inline; */
  color: var(--foreground);
  min-height: 100vh;
  overflow: hidden auto;
  scrollbar-width: thin;
  /* font-family: 'mono'; */
}
